[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HYPEtools"]
	path = HYPEtools
	url = https://github.com/rcapell/hypetools
	shallow = true
	registered = true
